@charset "UTF-8";
/*------------------------------------------------------------
        Default
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
button,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
}

html {
    font-size: 0.75px;
}

body,
table,
input,
textarea,
select,
option,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: "Adrianna";
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #000;
}


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------------------------------------------------
        Layout
------------------------------------------------------------*/





.c-header {
    background-color: #000;
    padding: 10px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 85px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.c-header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .c-header__left {
        padding-left: 10vw;
        position: relative;
    }
}
.c-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding-left: 25rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .c-header__right {
        display: block;
        background-color: #fff;
        position: fixed;
        width: 0;
        height: 100vh;
        left: -100%;
        top: 0;
        z-index: 8888;
        -webkit-transition: 0.4s all;
        transition: 0.4s all;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 0;
        width: 100%;
    }
    .c-header__right.show {
        left: 0;
    }
}
.c-header__logo {
    width: 50px;
}
@media screen and (max-width: 768px) {
    .c-header__logo {
        width: 89px;
    }
}
.c-header__logo a {
    display: block;
}
@media screen and (max-width: 768px) {
    .c-header__logo img {
        width: 100%;
    }
}
.c-header__search {
    padding-left: 30px;
    width: 260px;
    position: relative;
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .c-header__search {
        width: 195px;
    }
}
@media screen and (max-width: 768px) {
    .c-header__search {
        display: none;
    }
}
.c-header__search input {
    border: 0;
    background-color: #f1f1f1;
    padding: 10px 15px;
    padding-right: 35px;
    font-size: 16px;
    border-radius: 10px;
    height: 34px;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
}
.c-header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 1025px) and (max-width: 1450px) {
    .c-header__group {
        width: 37%;
    }
}
@media (min-width: 768px) and (max-width: 1336px) {
    .c-header__group {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        width: auto;
    }
}
@media screen and (max-width: 768px) {
    .c-header__group {
        width: auto;
        padding: 0 20px;
        padding-top: 25px;
    }
}


.c-header__contact {
    display: block;
    padding-left: 2vw;
}
@media (min-width: 1025px) and (max-width: 1450px) {
    .c-header__contact {
        padding-left: 1vw;
    }
}
@media (min-width: 768px) and (max-width: 1336px) {
    .c-header__contact {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .c-header__contact {
        padding-left: 0;
    }
}
.c-header__contact p {
    color: #fff;
    font-size: 18rem;
    line-height: 35rem;
    cursor: pointer;
    text-align: right;
    white-space: nowrap;
}






.c-header__user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 5px;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
    min-width: 68px;
}
.c-header__user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 30px;
}
.c-header__user-avatar img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.c-header__user-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: unset;
}

.c-header__user-icon {
    margin-right: 5px;
}

.navigation__closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    padding: 10px;
}
.navigation__menumain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .navigation__menumain {
        display: block;
        padding: 0 20px;
    }
}

.navigation__menumain__item > a,
.navigation__menumain__item > p {
    color: #fff;
    font-size: 18rem;
    line-height: 35rem;
    font-weight: 700;
    cursor: pointer;
    padding: 19rem 26rem;
    display: block;
    text-transform: uppercase;
}


.navigation__menumain__item > a.navigation__menumain__item__destinations,
.navigation__menumain__item > p.navigation__menumain__item__destinations {
    padding: 32rem 0;
    margin-right: 50rem;
    margin-left: 26rem;
}


@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/1f3c9d/00000000000000003b9b3e5b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/1f3c9d/00000000000000003b9b3e5b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/1f3c9d/00000000000000003b9b3e5b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/599669/00000000000000003b9b3e5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/599669/00000000000000003b9b3e5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/599669/00000000000000003b9b3e5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/104338/00000000000000003b9b3e59/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/104338/00000000000000003b9b3e59/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/104338/00000000000000003b9b3e59/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/3fffc6/00000000000000003b9b3e57/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/3fffc6/00000000000000003b9b3e57/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/3fffc6/00000000000000003b9b3e57/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/032b8d/00000000000000003b9b3e55/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/032b8d/00000000000000003b9b3e55/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/032b8d/00000000000000003b9b3e55/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "adrianna";
    src: url("https://use.typekit.net/af/e57c9c/00000000000000003b9b3e5f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"), url("https://use.typekit.net/af/e57c9c/00000000000000003b9b3e5f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"), url("https://use.typekit.net/af/e57c9c/00000000000000003b9b3e5f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 100;
}
/**
 * Swiper 11.1.15
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 18, 2024
 */




.tour_in_KV {
    position: relative;
    min-height: 641px;
    width: 100%;
    overflow: hidden;
    padding-top: 82px;
}
@media screen and (max-width: 768px) {
    .tour_in_KV {
        padding-top: 60px;
    }
}
.tour_in_KV::before {
    content: "";
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(62.39%, rgba(0, 0, 0, 0)), to(#000000)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 62.39%, #000000 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
@media screen and (max-width: 768px) {
    .tour_in_KV::before {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(69.39%, rgba(0, 0, 0, 0)), color-stop(86%, #000000)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 69.39%, #000000 86%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
}
.tour_in_KV__bg {
    top: 82px;
    height: auto;
    position: absolute;
    left: 0;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__bg {
        top: 0;
        height: 58%;
        min-height: 720px;
    }
}
.tour_in_KV__bg img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.tour_in_KV__brush {
    width: 100%;
    position: absolute;
    bottom: -10px;
    display: block;
    z-index: 10;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__brush {
        display: none;
    }
}
.tour_in_KV__main {
    position: relative;
    z-index: 22;
    padding-top: 180rem;
    padding-bottom: 200rem;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.tour_in_KV__gr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__gr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
}
.tour_in_KV__gr dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px;
    max-width: 320px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__gr dl {
        max-width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }
}
.tour_in_KV__gr dl dt {
    width: 48px;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__gr dl dt {
        width: 48px;
    }
}
.tour_in_KV__gr dl dd {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    border-left: 1px solid #fff;
    padding-left: 20px;
    margin-left: 20px;
}
@media screen and (max-width: 768px) {
    .tour_in_KV__gr dl dd {
        -webkit-box-flex: 1;
        -ms-flex: 1 1;
        flex: 1 1;
    }
}
.tour_in_KV__gr dl dd p {
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-shadow: 0 0 10px #000000;
    line-height: 16.8px;
}
.tour_in_KV__gr__star {
    text-align: left;
    margin-bottom: 10px;
}
.tour_in_KV__gr__star img {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .tour_in_KV .c-header__search {
        display: block;
        width: 100%;
        max-width: 360px;
        padding-left: 0;
        margin: 0 auto 50px;
    }
}
@media screen and (max-width: 768px) {
    .tour_in_KV .c-header__search .autocomplete {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .tour_in_KV .c-header__search .autocomplete-items {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .tour_in_KV .c-header__search .autocomplete-items #search-barautocomplete-list-sub div {
        padding: 10px 0;
        text-align: left;
        line-height: 18px;
    }
}
.tour_in_KV__main {
    padding-top: 120rem;
}

.c-title04 {
    font-size: 80rem;
    line-height: 90rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3607843137);
    width: 100%;
    max-width: 1040rem;
    margin: 0 auto;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .c-title04 {
        font-size: 9vw;
        line-height: 1.3;
        padding: 0 5rem;
        text-shadow: none;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    .c-title04 {
        font-size: 40px;
        line-height: 47px;
    }
}

.c-text03 {
    font-size: 25rem;
    line-height: 40rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 0 0 10px #000000;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .c-text03 {
        font-size: 5vw;
        line-height: 24px;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    .c-text03 {
        font-size: 21px;
    }
}

.c-text01 {
    font-size: 18px;
    line-height: 30rem;
    font-weight: 500;
    color: #fff;
    margin-top: 59px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #000000;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    .c-text01 {
        margin-top: 40px;
        font-weight: bold;
    }
}

.c-btn01 {
    font-weight: 700;
    margin: 0 auto;
    font-size: 19px;
    padding-left: 20px;
    position: relative;
    display: block;
    background-color: #efc109;
    color: #000000;
    border-radius: 10px;
    line-height: 35px;
    z-index: 1;
    text-align: center;
    display: table;
    padding: 10px 0;
    max-width: 272px;
    width: 100%;
    margin-top: 20px;
}
.c-btn01:hover img {
    opacity: 1;
    padding-left: 30px;
}
.c-btn01 img {
    opacity: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    display: inline;
}
@media screen and (max-width: 768px) {
    .c-btn01 {
        margin-top: 30px;
    }
}

.c-title02 {
    font-size: 40px;
    line-height: 55rem;
    margin-bottom: 50rem;
    font-weight: 800;
    color: #000000;
    position: relative;
    z-index: 2;
    display: table;
    margin: 0 auto;
    margin-bottom: 50rem;
}
@media screen and (max-width: 768px) {
    .c-title02 {
        font-size: 7.2vw;
        line-height: 35px;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    .c-title02 {
        font-size: 34rem;
        line-height: 40rem;
    }
}
.c-title02::before {
    content: "";
    position: absolute;
    width: 170rem;
    height: 115rem;
    top: -35rem;
    left: 50%;
    background-size: 100% 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../images/brush-yellow.svg);
    background-repeat: no-repeat;
    z-index: -1;
}
@media screen and (max-width: 768px) {
    .c-title02::before {
        height: 90px;
        top: 50%;
        width: 111px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width: 768px) {
    .c-title02 {
        margin-bottom: 30px;
    }
}

.c-text02 {
    font-size: 22rem;
    line-height: 27rem;
    font-weight: 500;
    color: #989898;
    font-weight: 700;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .c-text02 {
        font-size: 18px;
        color: #585858;
    }
}
@media screen and (max-width: 768px) {
    .c-text02 {
        line-height: 25px;
    }
}
@media (min-width: 769px) {
    .sp-only {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .pc-only {
        display: none;
    }
}
